.listContainer{
    width: 300px;
    height: 200px;
   display:grid;
   grid-template-columns:column;
  text-align:left;
    border: 2px solid black;
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
    background-color: aqua;
    border-radius: 20px;
    box-shadow: 10px 10px 5px gray;
}
.divContainer{
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}


.mainbtnContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
@media screen and (max-width:500px){
  .listContainer{
    display: flex;
    flex-direction: column;
    margin-left:auto;
  }
}