.headerContainer{
    width:100vw;
    height:150px;
    margin-bottom:40px;
    font-size:30px;
    color:blue;
    text-align: center;
    text-decoration: underline;
    background-image: linear-gradient(rgba(0, 255, 64, 0.5),rgb(0, 255, 255,0.5));
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: 0px 10px 20px;
  }
  .linkContainer{
    font-size:20px;
    background-color:aqua;
    width: fit-content;
    border-radius: 10px;
    text-decoration: none;
  }

  .divContainer{
    font-size: 20px;
    background-color:aqua;
    width: fit-content;
    border-radius: 10px;
    text-decoration: none;
  }
  @media screen and (max-width:500px) {
      .headerContainer{
        display: flex;
        flex-direction: column;
        width: 100%;
      }
      .linkContainer{
        display: grid;
      }
      .divContainer{
        display: grid;
      }
  }